/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/Key/
/.cache/
.DS_Store
/App截图/
/build-profile.signing.json5
entry/src/main/resources/rawfile/ai_config.json